@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  background-color: #fdf6e3;
  margin: 0;
  text-align: center;
}

header {
  font-family: "Roboto", "Georgia", "Arial", sans-serif;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  text-align: center;
  padding: 15vw 2em;
  display: block;
}

header p {
  color: #586e75;
}
header h1 {
  letter-spacing: 0.1em;
  font-size: 2.5em;
  font-weight: 300;
  color: #b58900;
}

header img {
  width: 3cm;
  height: 3cm;
  border-radius: 1.5cm;
}